@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: setTextColor($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  line-height: 1.5;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;

  &.author-name {
    font-size: 2.5rem;
  }

  &.author-description {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5)
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); // freeze footer


  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
      font-size: 6rem;
      font-family: 'Bad Script', Helvetica, cursive;
    }
  }
}

.icons {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  a {
    padding: 0.4rem;

    &:hover {
      color: $secondary-color;
      @include easeOut;
    }
  }
}
// about.html
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  'aboutimage desc desc'
  'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .about-image {
    grid-area: aboutimage;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .about-description {
    grid-area: desc;
    font-size: 1rem;
  }

  .text-description {
    background: darken($primary-color, 7);
    border-radius: 5px;
    padding: 10px 10px 10px 30px;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,.2), 0 0 1rem rgba(0,0,0,.2);
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: darken($primary-color, 7);
    padding: 0.5rem;
    font-size: 0.8rem;
    border-bottom: $secondary-color 5px solid;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,.2), 0 0 1rem rgba(0,0,0,.2);
  }
}

// projects.html
.projects {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);

  .item {
    background: darken($primary-color, 7);
    padding: 1.5rem;
    border-bottom: $secondary-color 5px solid;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,.2), 0 0 1rem rgba(0,0,0,.2);
  }

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }

  .item-tech-name{
    font-weight: 700;
  }

  .item-tech-desc {
    font-size: 0.8rem;
  }
}

.btn {
  display: inline-block;
  color: #333;
  cursor: pointer;
  margin-bottom: 0.3rem;
}

#footer {
  text-align: center;
  background: #2a2a32;
  color: $primary-color;
  height: 60px;
}

@import 'responsive'; // run responsive after the initial css
